<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Codewars</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
</head>

<body>
  <h1>Codewars</h1>
  <h2>코딩 전쟁이 일어난다. 모든 대원들, 전투 준비!</h2>
  <% if(problems) { %>
    <ul class="problems">
      <% problems.forEach(problem=> { %>
        <li>
          <a href="/problems/<%= problem._id %>">
            <div>
              <%=problem.title%>
            </div>
          </a>
          <div>정답자: <%=problem.completed_users%>명</div>
          <div>난이도: Level <%=problem.difficulty_level%>
          </div>
          <% if(id) { %>
            <form method="post" action="/problems/<%= problem._id %>">
              <div>
                <%=problem.description %>
              </div>
              <label for="code">Your code</label>
              <textarea id="code" name="code">return function x(arg) { }</textarea>
              <input type="submit" value="submit" id="submitBtn" />
            </form>
            <% } %>
        </li>
        <% }) %>
    </ul>
    <% } %>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/javascript/javascript.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/edit/matchbrackets.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/display/placeholder.min.js"></script>
      <script src="/javascripts/index.js"></script>
</body>

</html>